@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Raleway:wght@500&display=swap&family=Macondo&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    width: 100%;
}

/* ------ CELLPHONE DESIGN ------
HEADER */
header {
    width: 100%;
}

#img-banner {
    width: 50%;
    display: block;
    margin: 20px auto 0px auto;
}

.header1 {
    font-weight: bolder;
    text-align: center;
    color: #f8b700;
    font-family: Semplicita Pro, Open Sans, Arial,Helvetica, sans-serif;
    font-size: 40px;
}

/*MAIN*/
main {
    margin-top: 70px;
}

.p-content {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 35px;
    padding: 0px 30px 20px;
    color: #E5E7E9;
    text-align: justify;
}
    
#carousel {
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 30px;
}

#carousel #slider-img {
    width: 95%;
    height: 90%;
    display: block;
    margin: 0px auto 0px auto;
}

#carousel #btnRight, #carousel #btnLeft{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    opacity: .2;
}

#carousel #btnRight:hover, #carousel #btnLeft:hover{
    opacity: .7;
}

#carousel #btnLeft {
    left: 4%;
}

#carousel #btnRight {
    left: 96%;
}

.expansions {
    display: block;
}

.expansion {
    margin-top: 50px;
}

.expansion-title {
    padding-bottom: 25px;
    color: #E5E7E9;
    text-align: center;
    font-family: 'Cinzel', serif;
}

.expansion-img {
    height: 100%;
    width: 95%;
    display: block;
    margin: auto;
}

.hron {
    margin-top: 25px;
    border-color: #3C055D;
}

/*FOOTER*/
footer {
    display: block;
    height: auto;
    background-color: #010A13;
    margin-top: 50px;
    font-size: 18px;
    font-family: 'Macondo', cursive;
    color: #E5E7E9;
    text-align: center;
}

.footer-p {
    padding-top: 20px;
    background-color: #010A13;
    font-size: 20px;
}

.footer-p #strong-foot {
    background-color: #010A13;
    font-size: 25px;
}

#btnGit {
    background-color: #010A13;
    border: none;
}

.img-git {
    width: 60px;
    height: 60px;
}

#footer-me-img {
    margin-top: 40px;
    width: 80%;
    height: 350px;
    margin-bottom: 19px;
}

/* ------ TABLET DESIGN ------*/
@media only screen and (min-width: 767px) {
    /*HEADER*/
    .header1 {
        font-size: 55px;
        margin-top: 30px;
    }

    /*MAIN*/
    .p-content {
        font-size: 28px;
        padding: 0px 40px 30px;
        line-height: 50px;
    }

    #carousel {
        margin-top: 65px;
        height: 380px;
        margin-bottom: 70px;
    }

    #carousel #slider-img {
        height: 100%;
        margin-top: 20px;
    }

    .expansion-title {
        font-size: 50px;
    }

    /*FOOTER*/
    .footer-p {
        font-size: 50px;
    }
    
    .footer-p #strong-foot {
        font-size: 55px;
    }
    
    .img-git {
        width: 100px;
        height: 100px;
    }

    #footer-me-img {
        width: 70%;
        height: 600px;
    }
}

/* ------ DESKTOP VIEW ------*/
@media only screen and (min-width: 1000px) { 
    /*HEADER*/
    header {
        display: flex;
    }

    #img-banner {
        width: 30%;
        margin: 30px 0px 0px 70px;
    }
    
    .header1 {
        align-self: center;
        font-size: 55px;
        width: 70%;
        margin-left: 20px;
    }

    /*MAIN*/
    .p-content {
        font-size: 24px;
        padding: 0px 40px 30px;
        line-height: 50px;
    }

    #carousel {
        width: 80%;
        height: 500px;
        left: 10%;
    }

    #carousel #slider-img {
        height: 100%;
        margin-top: 20px;
    }

    .expansion {
        width: 49%;
        border: none;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
    }

    .expansion-title {
        font-size: 32px;
    }
    
    /*FOOTER*/
    footer {
        display: flex;
    }
    
    .footer-p {
        padding-top: 50px;
        padding-left: 70px;
        font-size: 30px;
    }
    
    .footer-p #strong-foot {
        font-size: 35px;
    }

    .img-git {
        width: 100px;
        height: 100px;
    }
    
    #footer-me-img {
        width: 15%;
        height: 255px;
        display: block;
        margin: auto;
    }
}